<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/head" %>
  </head>

  <body>
    <div class="wrapper">
      <%= render 'player/components/player_form' %>
    </div>
  </body>
</html>
