<div class="one_page_content exception">
  <div>
    <h1><%= translate_with_user_language('custom_errors.title') %></h1>
    <h2><%= translate_with_user_language('custom_errors.not_found') %></h2>
  </div>
  <img src="<%= image_url('clouds.png')%>">
</div>
