<!DOCTYPE html>
<html>
  <!-- Head -->
  <head>
    <%= content_tag :title, "Evolution Game - Error" %>
    <%= stylesheet_link_tag    'errors', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= render "layouts/favicon" %>

  </head>
  <body>
    <%= render "errors/components/error_message_not_found" %>
  </body>

</html>
