@import "font-awesome";

// Core variables and mixins
@import "./components/variables.scss";
@import "./components/mixins.scss";
// Global CSS
@import "./components/global.scss";
// Components
@import "./components/masthead.scss";
@import "./components/bootstrap-overrides.scss";
@import "bootstrap";

.wrapper {
  padding-top: calc(3rem + 40px);
}
@media (min-width: 992px) {
  .wrapper {
    padding-top: calc(4rem + 40px);
  }
}

#game {
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.cell_container {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  display: none;
}
